# Byte-compiled / optimized / DLL files
__pycache__/

.env

# Proxy cache
/cache/*
!/cache/.gitkeep

# Ignorar conteúdo, mas manter a pasta no repo
/audios_vozes_ptbr/*
/output/*
!/output/.gitkeep

assets/video/defaults/*
!assets/video/defaults/.gitkeep

/assets/audio/background/*
!/assets/audio/background/.gitkeep

/tokens/*
!/tokens/.gitkeep

/assets/temp/*
!/assets/temp/.gitkeep

/assets/gifs/*
!/assets/gifs/.gitkeep