# Python
**/__pycache__/
**/*.pyc
**/*.pyo
*.egg-info/
.venv/
venv/
venv-whisper/

# Env e secrets
.env
*.env

# Banco de dados local
*.db
*.sqlite3

# Node
web/node_modules/
web/dist/
web/.next/

# Build artifacts
**/dist/
**/.cache/

# OS
.DS_Store
Thumbs.db
