# Byte-compiled / optimized / DLL files
__pycache__/

.env

# Ignorar conteúdo, mas manter a pasta no repo
/audios_vozes_ptbr/*
/output/*
!/output/.gitkeep

/videos_default/*
!/videos_default/.gitkeep

/bg_music/*
!/bg_music/.gitkeep

/tokens/*
!/tokens/.gitkeep
